Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-2-307052573014"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private key
  "/etc/pki/tls/certs/oauth-private.key":
    mode: "000755"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-2-307052573014.s3.us-east-2.amazonaws.com/passportkesy-fielso/oauth-private.key


  "/etc/pki/tls/certs/oauth-public.key":
    mode: "000755"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-2-307052573014.s3.us-east-2.amazonaws.com/passportkesy-fielso/oauth-public.key
